name: Build Docker image

on:
  pull_request:
    branches:
      - dev
env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_REPOSITORY: ${{ github.repository }}
      GITHUB_ACTOR: ${{ github.actor }}


jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: |
          DATETIME=$(date +"%Y-%m-%d-%H-%M")
          echo $DATETIME
          IMAGE="$GITHUB_REPOSITORY"
          echo $IMAGE
          docker build -t $IMAGE .
          docker tag $IMAGE dev
          docker tag $IMAGE dev-$IMAGE
          docker images --all
          
      - name: Login to ghcr.io
        if: ${{ !env.ACT }}
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker image
        if: ${{ !env.ACT }}
        run: |
          echo ${IMAGE}
          docker push ghcr.io/timyig/timyig/docker-cicd-actions:dev
